@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
body h1,
body p {
  margin-block-start: 0;
  margin-block-end: 0;
}
@media (min-width: 320px) {
  body {
    background: url(../imgs/bg-mobile.svg) center/cover no-repeat #674baf;
  }
}
@media (min-width: 768px) {
  body {
    background: url(../imgs/bg-desktop.svg) center/cover no-repeat #674baf;
  }
}

@media (min-width: 320px) {
  .header__logo img {
    padding: 2.5rem 0 0 2rem;
    width: 10rem;
  }

  .header__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__container img {
    max-width: 100%;
    height: auto;
    margin: 4rem 0;
  }
  .header__container .header__details {
    width: 95%;
    margin: 0 auto;
  }
  .header__container .header__details h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  .header__container .header__details p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.3rem;
    margin-top: 1.3rem;
  }
  .header__container .header__details .btn {
    color: #674baf;
    background-color: #fff;
    box-shadow: 0 2px 20px #333;
    border: 1px solid #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    padding: 0.7em 3.5em;
    margin-top: 2rem;
  }
}
@media (min-width: 375px) {
  .header__logo img {
    width: 12rem;
  }

  .header__container .header__details h1 {
    font-size: 1.5rem;
  }
  .header__container .header__details p {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
  .header__container .header__details .btn {
    padding: 0.7em 4.5em;
  }
}
@media (min-width: 768px) {
  .header__logo img {
    width: 20rem;
    padding: 3rem 0 5rem 3rem;
  }

  .header__container {
    width: 90%;
    flex-direction: row;
    text-align: left;
  }
  .header__container img {
    max-width: 55%;
    margin: 0;
  }
  .header__container .header__details {
    margin: 2.5rem 0 0 3rem;
  }
  .header__container .header__details h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
  }
  .header__container .header__details p {
    font-size: 1.1rem;
  }
}
@media (min-width: 320px) {
  footer .social__icons {
    display: flex;
    justify-content: center;
    margin: 4rem 0 3rem 0;
  }
  footer .social__icons li {
    list-style: none;
    margin: 0 5px;
  }
  footer .social__icons li a {
    text-decoration: none;
  }
  footer .social__icons li a i {
    width: 30px;
    height: 30px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  footer .attribute {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
    color: #fff;
  }
}
@media (min-width: 375px) {
  footer .attribute {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  footer .social__icons {
    justify-content: flex-end;
    margin: 0;
    padding-right: 5rem;
  }
  footer .social__icons li {
    margin: 0 8px;
  }
  footer .social__icons li a i {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  footer .attribute {
    margin-top: 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
