//footer
@include extraSmall {
  footer {
    .social__icons {
      text-align: center;
      margin: 7rem 0 3rem 0;
      i {
          width: 35px; 
          height: 35px;
        color: $white;
        border: 1px solid $white;
        text-align: center;
        padding: 10px;
        border: 1px solid $white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      
  
      }
      i:nth-child(2){
          margin: 0 .7rem;
      }
    }
    .attribute{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        @include styleText(.7rem, 400, $white);
    }
  }
}
