@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@include extraSmall {
  .header__logo {
    img {
      padding: 2.5rem 0 0 2rem;
      width: 10rem;
    }
  }
  .header__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
      img {
        max-width: 100%;
        height: auto;
        margin: 4rem 0;
      }
    .header__details {
      width: 95%;
      margin: 0 auto;
      h1 {
        @include styleText(1.2rem, 600, $white);
        font-family: "Poppins", sans-serif;
      }
      p {
        @include styleText(0.8rem, 300, $white);
        line-height: 1.3rem;
        margin-top: 1.3rem;
      }
      .btn {
        @include styleBtn($violet, $white, #333, $white, 30px);
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
        padding: 0.7em 3.5em;
        margin-top: 2rem;
      }
    }
  }
}

@include small {
  .header__logo {
    img {
      width: 12rem;
    }
  }
  .header__container {
    .header__details {
      h1 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.05rem;
        line-height: 1.5rem;
      }
      .btn {
        padding: 0.7em 4.5em;
      }
    }
  }
}

@include medium {
  .header__logo {
    img {
      width: 20rem;
      padding: 3rem 0 5rem 3rem;
    }
  }
  .header__container {
    width: 90%;
    flex-direction: row;
    text-align: left;
   img {
      max-width: 55%;
     margin: 0;
    }
    .header__details {
    margin: 2.5rem 0 0 3rem; 
    
      h1 {
        @include styleText(2.5rem, 600, $white);
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}
